@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    box-sizing:border-box;
}

h1 {
    display: block;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
}

.container {
    margin: -8px 0px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.btn {
    width: 1.7cm;
    height: 1.7cm;
    border-radius: 1cm;
    border: none;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.384);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s ease-in;
}

.spec-btn {
    width: 3.8cm;
    height: 1.7cm;
    border-radius: 1.5cm;
    border: none;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.384);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s ease-in;
}

.row {
    padding: 10px;
    width: 8cm;
    justify-content: space-between;
}

.ip {
    justify-content: flex-end;
    align-items: center;
    width: 7.4cm;
    height: 3cm;
    margin-left: 0.4cm;
    font-size: 3rem;
    border: none;
    background-color: hsl(0, 0%, 95%);
    transition: 0.5s ease-in;
}

.cal-bg {
    background-color: hsl(0, 0%, 95%);
    padding: 20px 10px;
    border-radius: 20px;
    transition: 0.5s ease-in;
}


/* For dark theme */

.theme {
    margin-left: 1cm;
    width: 0.8cm;
    height: 0.8cm; 
    background-color: rgb(53, 121, 121);
    border-radius: 0.4cm;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn-d {
    width: 1.7cm;
    height: 1.7cm;
    border-radius: 1cm;
    border: none;
    color: white;
    font-size: 1.5rem;
    background-color: hsl(0, 1%, 23%);
    box-shadow: 2px 2px 10px rgba(158, 158, 158, 0.384);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s ease-out;
}

.spec-btn-d {
    width: 3.8cm;
    height: 1.7cm;
    border-radius: 1.5cm;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: hsl(0, 1%, 23%);
    box-shadow: 2px 2px 5px rgba(158, 158, 158, 0.384);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.5s ease-out;
}

.ip-d {
    justify-content: flex-end;
    align-items: center;
    width: 7.4cm;
    height: 3cm;
    margin-left: 0.4cm;
    font-size: 3rem;
    border: none;
    color: white;
    background-color: hsl(0, 1%, 23%);
    transition: 0.5s ease-out;
}

.cal-bg-d {
    background-color: hsl(0, 1%, 23%);
    padding: 20px 10px;
    border-radius: 20px;
    transition: 0.5s ease-out;
}
